<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="channel-type:megad:i2c-parameter">
		<parameter name="i2cparameter" type="text" required="true">
			<default>i2c_par=</default>
			<label>I2C parameter value</label>
			<description>For example "i2c_par=2" (See Megad user manual)</description>
		</parameter>
	</config-description>
	<config-description uri="channel-type:megad:iwtemp">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>1w bus address</description>
		</parameter>
	</config-description>
	<config-description uri="channel-type:megad:i2c">
		<parameter name="type" type="text" required="true">
			<label>Sensor type</label>
			<description>Sensor, selected in mega</description>
		</parameter>
		<parameter name="path" type="text" required="true">
			<label>Request get path</label>
			<description>GET parameter to sensor</description>
		</parameter>
	</config-description>
	<config-description uri="channel-type:megad:ext">
		<parameter name="port" type="integer" required="true">
			<default>0</default>
			<label>Extender port</label>
		</parameter>
	</config-description>
	<config-description uri="channel-type:megad:extpwm">
		<parameter name="port" type="integer" required="true">
			<default>0</default>
			<label>Extender port</label>
		</parameter>
		<parameter name="type" type="text">
			<options>
				<option value="PWM">PWM</option>
				<option value="DIMMER">Dimmer</option>
			</options>
			<default>DIMMER</default>
		</parameter>
	</config-description>
	<config-description uri="channel-type:megad:flash">
		<parameter name="beta" type="boolean" required="true">
			<default>false</default>
			<label>Upgrade to beta</label>
		</parameter>
	</config-description>
</config-description:config-descriptions>
